{% extends "layout.html" %}

{% block content %}
<div class="container" style="margin-bottom: 100px;margin-top: 50px">
    <div class="card">
        <h3 style="text-align: center;background-color: rgba(188,205,204,0.5)">
            员工资料
        </h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="margin-left:15px;font-size: large;margin-top: 25px">
                        <div style="margin-top: 12px">
                            姓名：{{ staff.name }}
                        </div>
                    </td>
                    <td style="font-size: large">
                        <div style="margin-top: 12px">
                            id: {{ staff.id }}
                        </div>
                    </td>
                    <td style="width: 200px;font-size: large" rowspan="2"><img src="{{ url_for('static',filename='staff_img/avatar.png') }}" style="width: 150px;height: 120px;margin-left: 13px"></td>
                </tr>
                <tr>
                    <td style=" margin-left:15px;font-size: large">
                        <div style="margin-top: 12px">
                            性别：{{ staff.gender }}
                        </div>
                    </td>
                    <td style="font-size: large">
                        <div style="margin-top: 12px">
                            年龄：{{ 2023  - staff.birthyear }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tr>
                <td style="font-size: large">
                    工作日偏好：
                {% if staff.daylike == None %}
                    无
                {% else %}
                    {% for i in staff.daylike %}
                        {% if i in ['0','1','2','3','4','5','6'] %}
                            {% if i == '0' %}
                                星期一
                            {% elif i == '1' %}
                                星期二
                            {% elif i == '2' %}
                                星期三
                            {% elif i == '3' %}
                                星期四
                            {% elif i == '4' %}
                                星期五
                            {% elif i == '5' %}
                                星期六
                            {% elif i == '6' %}
                                星期日
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-size: large">
                    工作时间偏好：
                {% if staff.timelike == None %}
                    无
                {% else %}
                    {% for i in staff.timelike  %}
                        {% if i in ['0','1','2'] %}
                            {% if i == '0' %}
                                上午
                            {% elif i == '1' %}
                                下午
                            {% elif i == '2' %}
                                晚上
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
        </table>
        <form method="post">
            <button type="submit" class="btn btn-primary" style="margin-left: 500px;margin-bottom: 10px">返回</button>
        </form>
    </div>
</div>
{% endblock %}
