{% extends "layout.html" %}

{% block content %}
    <div class="container">
       <div class="row" style="margin-top: 20px">
         <div class="col-8">
            <div class="card">
            {% if flag==1 %}
                   <table class="table table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">员工号</th>
                          <th scope="col">员工姓名</th>
                          <th scope="col">员工详情</th>
                          <th scope="col">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for staff in staffs %}
                        <tr>
                          <th scope="row">{{ staff.id }}</th>
                          <td>{{ staff.name }}</td>
                          <td>
                              <a href="/schedulesystem/staff/detail?sid={{ staff.id }}">详情</a>
                          </td>
                          <td>
                              <a href="/schedulesystem/staff/detail?sid={{ staff.id }}" class="text-success">修改</a>
                              <a href="/schedulesystem/staff/detail?sid={{ staff.id }}" class="text-danger">删除</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
            {% else %}
                <h4 class="text-muted" style="margin-left: 40%;margin-top: 30px">请先登陆</h4>
            {% endif %}
            </div>
            </div>
            <div class="col-4">
            <div class="card">
                {% if flag==1 %}
                <img src="{{ url_for('static',filename='manager_img/manager_img01.jpg') }}" class="card-img-top" width="400px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">您好经理{{ user.username }}！</h5>
                    <p class="card-text">欢迎使用蜜雪冰城智能排班系统</p>
                    <a href="{{ url_for('front.staff_add') }}" class="btn btn-primary">添加员工</a>
                </div>
                {% else %}
                <div class="card-body">
                    <h5 class="card-title">请先登陆，谢谢！</h5>
                    <p class="card-text">登陆之后可以对员工进行管理</p>
                    <a href="{{ url_for('admin.login') }}" class="btn btn-primary">登陆</a>
                </div>
                {% endif %}
            </div>
         </div>
       </div>
    </div>


{% endblock %}