<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能排班系统</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='css/bootstrap.css') }}">
    <style>
        .bottom:hover{
            border-bottom: rgba(232, 0, 0, 0.72) solid 2px;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#navbar-example2">
    <div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light"  style="background-color:  rgba(255,0,0,0.63)">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>
                <a class="navbar-brand" href="#">
                <img src="{{ url_for('static',filename='img/indexlogo.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
                <span style="font-size: 30px; color: white">智能排班系统</span>
                </a>
                    <div id="navbarTogglerDemo03" class="collapse navbar-collapse" >
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                              <li class="nav-item active">
                                <a class="nav-link bottom" href="{{ url_for('front.index') }}">首页</a>
                              </li>
                              <li class="nav-item ">
                                    <a class="nav-link bottom" href="{{ url_for('front.introduction') }}">门店信息</a>
                              </li>
                              <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle bottom" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                  排班查看
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{{ url_for('front.schedule') }}">按周查看</a>
                                  <a class="dropdown-item" href="{{ url_for('front.schedule_s') }}">按员工查看</a>
                                </div>
                              </li>
                              <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle bottom" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                  员工管理
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{{ url_for('front.staff') }}">员工信息管理</a>
                                  <a class="dropdown-item" href="{{ url_for('front.staff_request') }}">员工请求管理</a>
                                </div>
                              </li>
                              <li class="nav-item ">
                                <a class="nav-link bottom" href="{{ url_for('front.about') }}">关于</a>
                              </li>
                        </ul>


                <div class="dropdown my-2 my-lg-0" >
                    <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-expanded="false">
                        {% if flag == True %}
                            欢迎您，{{ user.username }}
                        {% else %}
                            请先登陆
                        {% endif %}
                    </button>
                    <div class="dropdown-menu">
                        {% if flag == True %}
                            <a class="dropdown-item" href="{{ url_for('admin.logout') }}">退出(logout)</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('admin.login') }}">登陆(login)</a>
                            <a class="dropdown-item" href="{{ url_for('admin.register') }}">注册(register)</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        </header>
    </div>

    <style>
        body {
            .colorbg{
                background-image: linear-gradient(180deg, #d74857, #e9817c, #f6b4a4, #ffffff);
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                top:70px;
                z-index: -1;
            }
        }
    </style>
    <script src="{{ url_for("static",filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for("static",filename="js/bootstrap.bundle.js") }}" ></script>
    <script src="{{ url_for("static",filename="js/echarts.js") }}"></script>
    <script>
        $('.dropdown-toggle').dropdown()

        //$('#myModal').on('shown.bs.modal', function () {
        //  $('#myInput').trigger('focus')
        //})


    </script>
    <div class="colorbg">
    {% block content%}
    {% endblock %}
    </div>
</body>
</html>